body {
    font-family: "Avenir Next";
    /* ページ左右の余白の削除 */
    margin: 0px;
    width: 100%;
}

li {
    list-style: none;
}

ul {
    /* ページ上部の余白の削除 */
    margin: 0px;
}

header {
    background-color: #223843;
    color: #fff;
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-char {
    font-size: 36px;
    font-weight: bold;
    float: left;
    padding: 20px 20px;
}

.header-char a {
    text-decoration: none;
    color: #fff;
}

.header-link a:hover {
    background-color: rgba(113, 113, 113, 0.5);
}

.header-link li {
    float: left;
    display: block;
}

.header-link a {
    line-height: 90px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-decoration: none;
    float: left;
    list-style: none;
    float:left;
    transition: all 0.5s;
}

.sp-nav a:hover {
    background-color: rgba(113, 113, 113, 0.5);
}

.hamburger {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
}
  
.hamburger__line {
    position: absolute;
    width: 50px;
    height: 3px;
    right: 0;
    background-color: #fff;
    transition: all 0.5s;
    margin-top: 2px;
}

.sp-nav ul {
    margin-top: 100px;
}

.sp-nav li {
    list-style: none;
}

.sp-nav a {
    font-weight: bolder;
    font-family: 'Osaka';
    text-decoration: none;
    line-height: 90px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 23px;
    color: #fff;
    font-family: "游ゴシック";
    font-weight: bold;
}
  
.hamburger__line--1 {
    top: 1px;
}
  
.hamburger__line--2 {
    top: 18px;
}
  
.hamburger__line--3 {
    top: 36px;
}
  
.open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
}
  
.open .hamburger__line--2 {
    opacity: 0;
}
  
.open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
}
  
.sp-nav {
    position: fixed;
    right: -100%;
    top: 0;
    width: 40%;
    height: 100vh;
    background-color: #314a56eb;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto;
}
  
.open .sp-nav {
    right: 0;
}
  
.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
}
  
.open .black-bg {
    opacity: 0.3;
    visibility: visible;
}

.main {
    background-color: #EFF1F3;
    overflow: hidden;
    position: relative;
    background-color: transparent;
}

.main p {
    margin-top: 50px;
}

.map-wrap {
    position: relative;
    width: 100%;
    padding-top: 75%;
}

.map-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}















footer {
    background-color: #D77A61;
    height: 100px;
    color: #fff;
    padding: 25px;
    text-align: center;
    line-height: 50px;
    width: auto;
    bottom: 0;
}

.footer-char {
    font-size: 32px;
    font-weight: bold;
    float: left;
}

.link {
    float: right;
    padding: 0px 20px;
}

.footer-link a {
    padding-bottom: 20px;
    color: white;
    display: block;
    text-decoration: none;
}