<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barrier-free Map</title>
    <link rel="stylesheet" href="/stylesheet/gmap.css" />
    <script language="JavaScript">
      window.onload = function () {
        var nav = document.getElementById('nav-wrapper');
        var hamburger = document.getElementById('js-hamburger');
        var blackBg = document.getElementById('js-black-bg');

        hamburger.addEventListener('click', function () {
          nav.classList.toggle('open');
        });
        blackBg.addEventListener('click', function () {
          nav.classList.remove('open');
        });
      };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7ovNmsXnrwRBWSj8E7fVC8_jRqZ9ROlw&callback=initMap" async defer></script>
  </head>
  <body>
    <header>
      <div id="nav-wrapper" class="nav-wrapper">
        <div class="hamburger" id="js-hamburger">
          <span class="hamburger__line hamburger__line--1"></span>
          <span class="hamburger__line hamburger__line--2"></span>
          <span class="hamburger__line hamburger__line--3"></span>
        </div>
        <nav class="sp-nav">
          <ul>
            <li><a href="/map">マップ</a></li>
            <li><a href="/howto">使い方</a></li>
            <li><a href="/users/add">追加依頼</a></li>
            <li><a href="/users">追加予定</a></li>
          </ul>
        </nav>
        <div class="black-bg" id="js-black-bg"></div>
      </div>
      <div class="header-char">
          <a href="/">Barrier-free Map</a>
      </div>
      <div class="header-link">
        <ul>
          <li>
            <a href="/map">マップ</a>
          </li>
          <li>
            <a href="/howto">使い方</a>
          </li>
          <li>
            <a href="/users/add">追加依頼</a>
          </li>
          <li>
            <a href="/users">追加予定</a>
          </li>
        </ul>
      </div>
    </header>

    <div class="main">
      <p></p>
      <div id="map">
        <script>
          router.get('/', (req, res, next) => {
            db.Detail.findAll().then(dtl => {
              var data = {
                title: 'Board/Index',
                content: dtl
              }
              res.render('gmap', data);
              });
          });

          function initMap() {
            let map;
            map = new google.maps.Map(document.getElementById('map'), {
            center: { // 地図の中心を指定
              lat: 34.695537682859104, // 緯度
              lng:  135.50223478878937 // 経度
            },
            zoom: 10 // 地図のズームを指定
            });

            const markerData = [{
              "name": "淀屋橋駅",
              "type": "改札内エレベーター",
              "lat": 34.692208226274516,
              "lng": 135.50106227529534,
              "url": "https://goo.gl/maps/uipJzh6uqVQmfFVk8"
            },
            {
              "name": "梅田駅",
              "type": "改札外エレベーター",
              "lat": 34.70321427033319,
              "lng": 135.49764338944328,
              "url": "https://goo.gl/maps/ckA28ah3BB2eUJre8"
            },
            ];

            const marker = [];

            const infoWindow = [];

            // マーカーをクリックしたときのイベント登録
            const markerEvent = (i) => {
              marker[i].addListener('click', () => {
                for (const j in marker) {
                  //マーカーをクリックしたときに他の情報ウィンドウを閉じる
                  infoWindow[j].close(map, marker[j]);
                }
                //クリックされたマーカーの吹き出し（情報ウィンドウ）を表示
                infoWindow[i].open(map, marker[i]);
              });
            }

            for (let i = 0; i < markerData.length; i++) {
                //マーカー作成
                // 緯度経度のデータ作成
                const markerLatLng = new google.maps.LatLng({
                lat: markerData[i]['lat'],
                lng: markerData[i]['lng']
                });

                //マーカーオプション設定
                const markerOption = {
                position: markerLatLng, // マーカーを立てる位置を指定
                map: map, // マーカーを立てる地図を指定
                };

                /* if (markerData[i]['type'] === "改札内エレベーター") {
                markerOption.icon = "image/elevator_door_open.png";
                }
                if (markerData[i]['type'] === "改札外エレベーター") {
                markerOption.icon = "image/elevator_door_close.png"
                }
                if (markerData[i]['type'] === "音響信号") {
                markerOption.icon = "image/shingou_hokousya_blue.png"
                }
                if (markerData[i]['type'] === "ホテル") {
                markerOption.icon = "image/building_hotel_small.png"
                }
                if (markerData[i]['type'] === "旅館") {
                markerOption.icon = "image/building_ryokan.png"
                }
                if (markerData[i]['type'] === "トイレ") {
                markerOption.icon = "image/toilet_mark.png"
                }
                if (markerData[i]['type'] === "駐車場") {
                markerOption.icon = "image/car_back.png"
                }
                if (markerData[i]['type'] === "AED") {
                markerOption.icon = "image/shinpai_AED_mark.png"
                } */

                marker[i] = new google.maps.Marker(markerOption);
                
                infoWindow[i] = new google.maps.InfoWindow({
                content: `<div class="custom-info">
                    <div class="custom-info-item name">
                    ${markerData[i]['name']}
                    </div>
                    <div class="custom-info-item google-map">
                    <a href="${markerData[i]['url']}" target="_blank">MAP</a>
                    </div>
                    </div>` // 吹き出しに表示する内容
                });

                // 各マーカーにクリックイベントを追加
                markerEvent(i);
            }
          };
        </script>
      </div>
      <p></p>
    </div>

    <footer>
      <div class="footer-char">
        Barrier-free Map
      </div>
        <div class="footer-link">
          <a class="link" href="/howto">使い方</a>
          <a class="link" href="/map">マップ</a>
      </div>
    </footer>
    <script src="../routes/gmap.js"></script>
  </body>
</html>