<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barrier-free Map</title>
    <link rel="stylesheet" href="/stylesheet/howto.css" />
    <script language="JavaScript">
      window.onload = function () {
      var nav = document.getElementById('nav-wrapper');
      var hamburger = document.getElementById('js-hamburger');
      var blackBg = document.getElementById('js-black-bg');

      hamburger.addEventListener('click', function () {
          nav.classList.toggle('open');
      });
      blackBg.addEventListener('click', function () {
          nav.classList.remove('open');
      });
      };
    </script>
  </head>
  <body>
    <header>
      <div id="nav-wrapper" class="nav-wrapper">
        <div class="hamburger" id="js-hamburger">
          <span class="hamburger__line hamburger__line--1"></span>
          <span class="hamburger__line hamburger__line--2"></span>
          <span class="hamburger__line hamburger__line--3"></span>
        </div>
        <nav class="sp-nav">
          <ul>
            <li><a href="/map">マップ</a></li>
            <li><a href="/howto">使い方</a></li>
            <li><a href="/users/add">追加依頼</a></li>
            <li><a href="/users">追加予定</a></li>
          </ul>
        </nav>
        <div class="black-bg" id="js-black-bg"></div>
      </div>
      <div class="header-char">
        <a href="/">Barrier-free Map</a>
      </div>
      <div class="header-link">
        <ul>
          <li>
            <a href="/map">マップ</a>
          </li>
          <li>
            <a href="/howto">使い方</a>
          </li>
          <li>
            <a href="/users/add">追加依頼</a>
          </li>
          <li>
            <a href="/users">追加予定</a>
          </li>
        </ul>
      </div>
    </header>

    <div class="main">
      <h2>使い方</h2>
      <p></p>
      <h3>マップ</h3>
      <p>画面左上をクリック</p>
      <div class="one">
      
      </div>
      <p>閲覧したいバリアフリーの種類をクリック</p>
      <div class="two">

      </div>
      <h3></h3>
      <p></p>
      
      <p></p>
      
    </div>

    <footer>
      <div class="footer-char">
        Barrier-free Map
      </div>
        <div class="footer-link">
          <a class="link" href="/howto">使い方</a>
          <a class="link" href="/map">マップ</a>
      </div>
    </footer>


  </body>
</html>