<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barrier-free Map</title>
    <link rel="stylesheet" href="/stylesheet/test.css" />
    <script language="JavaScript">
      
    </script>
  </head>
  <body>
    


    <div id="map" style="width:620px; height:400px"></div>

    <script type="text/javascript">
      function initMap() {
        var opts = {
          zoom: 15,
          center: new google.maps.LatLng(35.709984,139.810703)
        };
        var map = new google.maps.Map(document.getElementById("map"), opts);
      }
      </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.exp?key=AIzaSyA7ovNmsXnrwRBWSj8E7fVC8_jRqZ9ROlw&callback=initMap">
    </script>
</body>
</html>